@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

/* Root */
:root {
	--dk-gray-100: #F3F4F6;
	--dk-gray-200: #E5E7EB;
	--dk-gray-300: #D1D5DB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-500: #6B7280;
	--dk-gray-600: #4B5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1F2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
	--navbar-bg-color: #6f6486;
	--sidebar-bg-color: #252636;
	--sidebar-width: 250px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color:#2a2b3d;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}


  
  /* Sidebar */
  
  .sidebar{
    text-align: center;
    z-index: 999;
  }
  
  .sidebar.hide{
      transform: translateX(-270px);
  }
  
  
  /* Wrapper */
  
  .wrapper{
    transition: all .3s ease-in-out;
  }
  
  .wrapper.full{
    margin-left: 0 !important;
  }
  
  @media (min-width: 992px) { 
    
    .sidebar {
    width: var( --sidebar-width);
    height: 100%;
    transition: all .3s ease-in-out;
      transform: translateX(0);
    position: fixed;
    
background: linear-gradient(180deg, rgba(37,38,54,1) 0%, rgba(77,78,98,1) 50%, rgba(27,28,34,0.9248074229691877) 100%);
    }
    
    .wrapper{
      margin-left: var( --sidebar-width) !important;
    }
  
  }
  /* =============================================================================== */
  /* Modal  */
  .modal-dialog{
    z-index: 9999 !important;
  }

  /* ======================================================================================================= */
    /* breadcrumb */
  .road{
      margin-top: 10px;
      text-decoration: none;
  }

  .road ol li a{
    color: white !important;
    text-decoration: none;
    font-weight: bold!important;
  }

  .road .breadcrumb {
    color: white;
    text-decoration: none;
    margin-left: 50px !important ;
  }

  /* ======================================= */
  /* content Header */

.back-arrow{
  font-size: 20px;
}
/* ====================================================== */
/* Status Detail Bulanan */

.pemasukan {
  background-color: rgba(0, 128, 0, 0.712);
  border-radius: 20px;
  padding: 3px 3px;
  font-weight: bold;
}
.pengeluaran {
  background-color: rgba(255, 0, 0, 0.541);
  border-radius: 15px;
  padding: 3px 3px;
  font-weight: bold;
}



