@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


/* Root */
:root {
  --dk-gray-100: #F3F4F6;
  --dk-gray-200: #E5E7EB;
  --dk-gray-300: #D1D5DB;
  --dk-gray-400: #9CA3AF;
  --dk-gray-500: #6B7280;
  --dk-gray-600: #4B5563;
  --dk-gray-700: #374151;
  --dk-gray-800: #1F2937;
  --dk-gray-900: #111827;
  --dk-dark-bg: #313348;
  --dk-darker-bg: #2a2b3d;
  --navbar-bg-color: #3bd1c7;
  --button-bg-color: #3bd1c7;
  /* --sidebar-bg-color: #252636; */
  --sidebar-bg-color: #222d32;
  --sidebar-width: 250px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  /* background-color: #252c4a; */
  background-color: #ecf0f5;
  position: relative;
  font-family: 'Montserrat', sans-serif !important;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #10163b99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(100, 93, 209, 1) 0%, rgba(47, 46, 66, 0.9444152661064426) 100%);
  transition: .5s;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgba(100, 93, 209, 1) 0%, rgba(161, 156, 242, 0.9444152661064426) 100%);
  width: 10px;
}

/* Sidebar */




.sidebar {
  text-align: center;
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  transition: all .3s ease-in-out;
  transform: translateX(0);
  z-index: 999;
  background-color: var(--sidebar-bg-color);
}

.sidebar.hide {
  transform: translateX(-250px);
  overflow: hidden;
}

.sidebar.hide .link-container {
  margin-left: 190px;
}

.sidebar.hide span {
  display: none;
}

.sidebar.hide .sidebar-header {
  visibility: hidden;
}


/* ===================================== */
/* Tavble */




/* Navbar */
.navbar {
  background-color: var(--navbar-bg-color) !important;
}

/* Wrapper */

.wrapper {
  transition: all .3s ease-in-out;
}

.wrapper.full {
  margin-left: 0px !important;
}



@media (min-width: 992px) {
  .sidebar {
    width: var(--sidebar-width);
    height: 100%;
    transition: all .3s ease-in-out;
    transform: translateX(0);
    position: fixed;
    background-color: var(--sidebar-bg-color);
  }

  .sidebar .sidebar-header {
    visibility: visible;
    transition: .3s ease-in-out;
  }

  .sidebar.hide {
    transform: translateX(-210px);
    overflow: hidden;
  }
  
  .sidebar.hide .link-container {
    margin-left: 190px;
  }
  
  .sidebar.hide span {
    display: none;
  }
  
  .sidebar.hide .sidebar-header {
    visibility: hidden;
  }
  




  .navbar-customize {
    padding: 0;
  }



  .wrapper.full {
    margin-left: 40px !important;
  }


  .wrapper {
    margin-left: var(--sidebar-width) !important;
  }

}

/* =============================================================================== */
/* Modal  */
.modal-dialog {
  z-index: 9999 !important;
}

/* ======================================================================================================= */
/* breadcrumb */
.road {
  margin-top: 10px;
  text-decoration: none;
}

.road ol li a {
  color: white !important;
  text-decoration: none;
  font-weight: bold !important;
}

.road .breadcrumb {
  color: white;
  text-decoration: none;
  margin-left: 50px !important;
}

/* ======================================= */
/* content Header */

.back-arrow {
  font-size: 20px;
}

/* ====================================================== */
/* Status Detail Bulanan */

.pemasukan {
  background-color: rgba(0, 128, 0, 1);
  border-radius: 20px;
  padding: 3px 3px;
  font-weight: bold;
}

.pengeluaran {
  background-color: rgba(255, 0, 0, 1);
  border-radius: 15px;
  padding: 3px 3px;
  font-weight: bold;
}


/* .datepicker{
  width: 200px !important;
} */

/* ================================================== */
/* Login and Register */

.login-form {
  height: 100vh;
}

.form-control {
  line-height: 2;
}

.bg-login {
  background-color: #2fd1c8;
}

.button-login {
  background-color: #3e3d56 !important;
  color: #fff !important;
}

.button-login:hover {
  background-color: #33313f !important;
  color: #fff !important;
}

label {
  color: #fff;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}


/* ====================================== */
/* Wrapper sidebar and Navbar */
.wrapper-nav {
  /* background: rgba(30, 30, 30, 0.9); */
  display: inline-block;
  /* border: 1px solid rgba(30, 30, 30, 0.9); */
  border-radius: 500px;
  transition: .3s ease-in-out;
  visibility: visible;
  margin-left: 20px;
  position: relative;
  padding: 9px;
  cursor: pointer;
}

.circle {
  width: 25px;
  height: 25px;
  position: relative;
}

.line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.5s;
}

.top {
  top: 18%;
}
.middle {
  top: 48%;
}
.bottom {
  top: 78%;
}

.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}
.icon.close .middle,
.icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}